<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Kanban</title>
</head>

<body>
    <div class="container">
        <div class="login-page" v-if='!isLogin'>
            <form @submit.prevent="login" v-if="form === 'login'" v-hide>
                <div class="login">
                    <label>Email</label>
                    <input type="text" v-model="input.email_login"> <br>
                    <label>Password</label>
                    <input type="password" v-model="input.password_login"> <br>
    
                    <input type="submit"> <button type="button" @click="showRegister">Register</button>
                </div>
            </form>

            <form @submit.prevent="register" v-else>
                <div class="register">
                    <label>First Name</label>
                    <input type="text" v-model="input.first_name"> <br>
                    <label>Last Name</label>
                    <input type="text" v-model="input.last_name"> <br>
                    <label>Email</label>
                    <input type="text" v-model="input.email"> <br>
                    <label>Password</label>
                    <input type="password" v-model="input.password"> <br>

                    <input type="submit">
                </div>
            </form>
        </div>

        <div class="main-page" v-else>
            <div class="card" v-for="(category, indexCategory) in categories" :key="indexCategory">
                {{ category }}
                <div class="item" v-for='(task, indexTask) in tasks.filter(task => task.category == category)' :key='task.id'>
                    {{ task.title }}
                    <button @click="deleteTask(task.id)">DELETE</button>
                </div>
                <form v-on:submit.prevent="addTask(category, task.id)">
                    <input type="text" class="add_task" v-model="inputTask[category]">
                    <input type="submit" class="submit_task">
                </form>
            </div>
            <button type="button" @click='logout'>Logout</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>