<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Kanban</title>
</head>

<body>
    <div class="container">
        <div class="card" v-for='(category, indexCategory) in categories' :key='indexCategory'>
            {{ category }}
            <div class="item" v-for='(task, indexTask) in tasks.filter(task => task.category == category)' :key='task.id'>
                {{ task.title }}
                <button @click="deleteTask(task.id)">DELETE</button>
            </div>
            <form v-on:submit.prevent="addTask(category, task.id)">
                <input type="text" class="add_task" v-model="inputTask[category]">
                <input type="submit" class="submit_task">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>